// COLORS
$white: #f5f5f5;
$grey: #f4eeee;
$orange: #ffdbaa;
$orange-variant1: #ff9b50;
$green: #96c291;
$pink: #ffb7b7;
$red: #ff6969;
$dark-grey: #333;

// SPACING
$spacing-1: 1px;
$spacing-2: 2px;
$spacing-4: 4px;
$spacing-6: 6px;
$spacing-8: 8px;
$spacing-10: 10px;
$spacing-12: 12px;
$spacing-16: 16px;
$spacing-20: 20px;
$spacing-22: 22px;
$spacing-24: 24px;
$spacing-32: 32px;
$spacing-50: 50px;
$spacing-54: 54px;

// LINE HEIGHT
$lh-1: 1;

// FONT SIZE
$fs-1: 1rem;

// BREAKPOINTS
$small: 500px;
$medium: 768px;
$large: 1024px;
$large: 1440px;
